PORT=8000
CORS_ORIGINS=http://localhost:5173
UNIVERSITY_BASE_URL=https://ecampus.ncfu.ru/schedule
REQUEST_TIMEOUT=3

DB_HOST=localhost
DB_PORT=5432
DB_NAME=uniplanner_parser
DB_USER=postgres
DB_PASSWORD=postgres
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=40